dialog {
-moz-appearance: none;
background-color: #E6FF66;
padding: 0px;
}

#eggon_selector{
 padding: 0px;
}

#eggon_dropdown_header{
 font-size: 10px;
 padding: 10px;
 border-bottom: solid 1px #ccc;
}

#eggon_title_header {

font-size: 20px;
font-weight: bold;
padding: 10px;
margin-bottom: 10px;
border-bottom: solid 1px black;
background-color: #ffffff;
}

#eggon_body {
  padding: 10px;
  
}

#eggon_buttons label{
  padding: 3px 8px;
  margin: 2px;
  border: solid 1px #ddd;
  -moz-border-radius: 4px;
  
  background-color: white;
}

#eggon_dropdown_success {
border: solid 1px #c0c0c0;
background-color: #e0e0e0;
padding: 30px 10px;
margin: 10px 0px;

}
